@font-face {
  font-family: 'Edu AU VIC WA NT Hand';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/C8cO4dY1tX2x0uuiUHFS4y7ERV-jfqJ6x063HfvcsxiYKifhtCJ1lKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu AU VIC WA NT Hand';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/C8cO4dY1tX2x0uuiUHFS4y7ERV-jfqJ6x063HfvcsxiYKifhtBB1lKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu AU VIC WA NT Hand';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/C8cO4dY1tX2x0uuiUHFS4y7ERV-jfqJ6x063HfvcsxiYKifhtPxylKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu AU VIC WA NT Hand';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/C8cO4dY1tX2x0uuiUHFS4y7ERV-jfqJ6x063HfvcsxiYKifhtMVylKs.ttf) format('truetype');
}
