.elementor-178 .elementor-element.elementor-element-c64fbe1 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-aefea5f .aidus-about .right-content h3 span::before {
    background-image: url("/assets/fonts/line-shape.svg");
}

.elementor-178 .elementor-element.elementor-element-926c3bd {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-94dad41>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-178 .elementor-element.elementor-element-94dad41 .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-178 .elementor-element.elementor-element-25da119 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-25da119:not(.elementor-motion-effects-element-type-background),
.elementor-178 .elementor-element.elementor-element-25da119>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F2F2F2;
}

.elementor-178 .elementor-element.elementor-element-847047b>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-178 .elementor-element.elementor-element-847047b .service-section-s3 {
    padding: 0px 0px 120px 0px;
}

.elementor-178 .elementor-element.elementor-element-18a68e8 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 120px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-87b2527>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-178 .elementor-element.elementor-element-87b2527 .section-title,
.section-title-s3 {
    max-width: 680px;
}

.elementor-178 .elementor-element.elementor-element-1c5069d {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 100px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-4339287 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-4339287:not(.elementor-motion-effects-element-type-background),
.elementor-178 .elementor-element.elementor-element-4339287>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/assets/images/event-shapebg.png") !important;
    background-repeat: no-repeat;
}

.elementor-178 .elementor-element.elementor-element-66ea38e {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-dbaefdf>.elementor-widget-container {
    padding: 130px 0px 0px 0px;
}

.elementor-178 .elementor-element.elementor-element-dbaefdf .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-178 .elementor-element.elementor-element-dbaefdf .section-title h2 {
    color: #FFFFFF;
}

.elementor-178 .elementor-element.elementor-element-fc4cde8 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-c5c3fdc>.elementor-widget-container {
    padding: 0px 0px 120px 0px;
}

.elementor-178 .elementor-element.elementor-element-af08f0f {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-9c43301 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --overlay-opacity: 0.9;
    --padding-top: 120px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-9c43301:not(.elementor-motion-effects-element-type-background),
.elementor-178 .elementor-element.elementor-element-9c43301>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/assets/images/instagram-bg.jpg");
}

.elementor-178 .elementor-element.elementor-element-9c43301::before,
.elementor-178 .elementor-element.elementor-element-9c43301>.elementor-background-video-container::before,
.elementor-178 .elementor-element.elementor-element-9c43301>.e-con-inner>.elementor-background-video-container::before,
.elementor-178 .elementor-element.elementor-element-9c43301>.elementor-background-slideshow::before,
.elementor-178 .elementor-element.elementor-element-9c43301>.e-con-inner>.elementor-background-slideshow::before,
.elementor-178 .elementor-element.elementor-element-9c43301>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: #122F2A;
    --background-overlay: '';
}

.elementor-178 .elementor-element.elementor-element-4728f43 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-e6e98c7>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-178 .elementor-element.elementor-element-e6e98c7 .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-178 .elementor-element.elementor-element-e6e98c7 .section-title .subtitle {
    color: #F7F7F7;
}

.elementor-178 .elementor-element.elementor-element-e6e98c7 .section-title h2 {
    color: #FFFFFF;
}

.elementor-178 .elementor-element.elementor-element-81caa44 {
    --display: flex;
    --position: absolute;
    --min-height: 100px;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    bottom: 90px;
}

body:not(.rtl) .elementor-178 .elementor-element.elementor-element-81caa44 {
    right: 0px;
}

body.rtl .elementor-178 .elementor-element.elementor-element-81caa44 {
    left: 0px;
}

.elementor-178 .elementor-element.elementor-element-cf7dfec {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-178 .elementor-element.elementor-element-36a741a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-178 .elementor-element.elementor-element-54255c1 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

@media(max-width:1024px) {
    .elementor-178 .elementor-element.elementor-element-94dad41>.elementor-widget-container {
        padding: 90px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-25da119 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-847047b .service-section-s3 {
        padding: 0px 0px 90px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-18a68e8 {
        --padding-top: 90px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-87b2527>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-1c5069d {
        --padding-top: 0px;
        --padding-bottom: 70px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-dbaefdf>.elementor-widget-container {
        padding: 90px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-c5c3fdc>.elementor-widget-container {
        padding: 0px 0px 90px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-9c43301 {
        --padding-top: 90px;
        --padding-bottom: 90px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-e6e98c7>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-81caa44 {
        --min-height: 0px;
        bottom: 160px;
    }
}

@media(max-width:767px) {
    .elementor-178 .elementor-element.elementor-element-94dad41>.elementor-widget-container {
        padding: 80px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-25da119 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-847047b .service-section-s3 {
        padding: 0px 0px 80px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-18a68e8 {
        --padding-top: 80px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-87b2527>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-1c5069d {
        --padding-top: 0px;
        --padding-bottom: 40px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-dbaefdf>.elementor-widget-container {
        padding: 80px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-c5c3fdc>.elementor-widget-container {
        padding: 0px 0px 80px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-9c43301 {
        --padding-top: 80px;
        --padding-bottom: 80px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-178 .elementor-element.elementor-element-e6e98c7>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-178 .elementor-element.elementor-element-81caa44 {
        --width: 100px;
        bottom: 140px;
    }
}

@media(min-width:768px) {
    .elementor-178 .elementor-element.elementor-element-81caa44 {
        --width: 262px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-178 .elementor-element.elementor-element-81caa44 {
        --width: 120px;
    }
}