.elementor-14 .elementor-element.elementor-element-de96559 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-a25372c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-0fe7a20 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 120px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-ce992b5 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-ce992b5:not(.elementor-motion-effects-element-type-background),
.elementor-14 .elementor-element.elementor-element-ce992b5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/assets/images/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-14 .elementor-element.elementor-element-07c2659>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-a2f77e1 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-046b54c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-2693999 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-66fef1f>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-66fef1f .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-14 .elementor-element.elementor-element-6357f3c {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-1ed6187 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-432a4b9 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-500bd61>.elementor-widget-container {
    padding: 130px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-500bd61 .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-14 .elementor-element.elementor-element-9e18446 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-df99c3f>.elementor-widget-container {
    padding: 0px 0px 120px 0px;
}

.elementor-14 .elementor-element.elementor-element-0575703 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-1b74271>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-1b74271 .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-14 .elementor-element.elementor-element-71d4e03 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-3171fc6 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-63612a5 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-63612a5:not(.elementor-motion-effects-element-type-background),
.elementor-14 .elementor-element.elementor-element-63612a5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F74F22;
}

.elementor-14 .elementor-element.elementor-element-79b9cf6>.elementor-widget-container {
    padding: 120px 0px 80px 0px;
}

.elementor-14 .elementor-element.elementor-element-79b9cf6 .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-14 .elementor-element.elementor-element-79b9cf6 .section-title .subtitle {
    color: #F7F7F7;
}

.elementor-14 .elementor-element.elementor-element-79b9cf6 .section-title h2 {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-74adc05 {
    --display: flex;
    --position: absolute;
    --min-height: 100px;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    bottom: -51px;
}

.elementor-14 .elementor-element.elementor-element-74adc05:not(.elementor-motion-effects-element-type-background),
.elementor-14 .elementor-element.elementor-element-74adc05>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/assets/images/gallery-shape.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}

body:not(.rtl) .elementor-14 .elementor-element.elementor-element-74adc05 {
    left: 0px;
}

body.rtl .elementor-14 .elementor-element.elementor-element-74adc05 {
    right: 0px;
}

.elementor-14 .elementor-element.elementor-element-018f44e {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-0268849>.elementor-widget-container {
    margin: -80px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-9e3811b {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: -150px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 300px;
    --padding-bottom: 90px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-f87e56d {
    --display: flex;
    --position: absolute;
    --min-height: 100%;
    top: 0px;
}

.elementor-14 .elementor-element.elementor-element-f87e56d:not(.elementor-motion-effects-element-type-background),
.elementor-14 .elementor-element.elementor-element-f87e56d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/assets/images/blog-bg-shapes.jpg");
}

body:not(.rtl) .elementor-14 .elementor-element.elementor-element-f87e56d {
    right: 0px;
}

body.rtl .elementor-14 .elementor-element.elementor-element-f87e56d {
    left: 0px;
}

.elementor-14 .elementor-element.elementor-element-28692e2 {
    --display: flex;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-14 .elementor-element.elementor-element-673432c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-673432c .section-title,
.section-title-s3 {
    max-width: 630px;
}

.elementor-14 .elementor-element.elementor-element-2d656ef {
    --display: flex;
}

@media(max-width:1024px) {
    .elementor-14 .elementor-element.elementor-element-0fe7a20 {
        --padding-top: 90px;
        --padding-bottom: 90px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-ce992b5 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-66fef1f>.elementor-widget-container {
        padding: 90px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-500bd61>.elementor-widget-container {
        padding: 90px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-df99c3f>.elementor-widget-container {
        padding: 0px 0px 90px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-1b74271>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-71d4e03 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-79b9cf6>.elementor-widget-container {
        padding: 90px 0px 70px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-9e3811b {
        --padding-top: 250px;
        --padding-bottom: 60px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-673432c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-14 .elementor-element.elementor-element-0fe7a20 {
        --padding-top: 80px;
        --padding-bottom: 80px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-ce992b5 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-66fef1f>.elementor-widget-container {
        padding: 80px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-500bd61>.elementor-widget-container {
        padding: 80px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-df99c3f>.elementor-widget-container {
        padding: 0px 0px 80px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-1b74271>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-71d4e03 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-79b9cf6>.elementor-widget-container {
        padding: 80px 0px 60px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-9e3811b {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 80px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-14 .elementor-element.elementor-element-673432c>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-14 .elementor-element.elementor-element-f87e56d {
        --width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-14 .elementor-element.elementor-element-f87e56d {
        --width: 100%;
    }
}